body {
    background-color: black;
    overflow: hidden;
}

img {
    -khtml-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.global-container {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    margin: 1%;
}

.global-container-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 66% 1% 33%;
    grid-template-rows: 18% 18% 15% 19% 30%;
    grid-gap: 0%;
}

.y-items {
    position: relative;
    float: left;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.a-items {
    position: relative;
    float: left;
    grid-column: 1;
    grid-row: 4;
}

.go {
    position: relative;
    float: right;
    grid-column: 3;
    grid-row: 1;
    margin-top: 0%;
    margin-left: 0%;
}

.aga {
    position: relative;
    float: right;
    grid-column: 3;
    grid-row: 2;
    margin-top: 0%;
    margin-left: 0%;
}

.equipment {
    position: relative;
    float: right;
    grid-column: 3;
    grid-row: 3 / span 2;
}

.dungeons {
    position: relative;
    float: bottom;
    grid-column: 1 / span 3;
    grid-row: 5;
}

.y-items-table {
    width: 100%;
    margin: 10px 6px 6px;
    border-spacing: 6px;
    border-style: solid;
    border-image-source: url(res/borders/y-items-border.png);
    border-image-slice: 25%;
    border-image-width: 12px;
    border-image-outset: 10px 6px 6px;
    border-image-repeat: round;
}

.a-items-table {
    width: 100%;
    margin: 10px 6px 6px;
    border-spacing: 6px;
    border-style: solid;
    border-image: url(res/borders/a-items-border.png);
    border-image-slice: 25%;
    border-image-width: 12px;
    border-image-outset: 10px 6px 6px;
    border-image-repeat: round;
}

.equipment-table {
    width: 87%;
    margin: 10px 6px 6px;
    border-spacing: 6px;
    border-style: solid;
    border-image: url(res/borders/equipment-border.png) round;
    border-image-slice: 25%;
    border-image-width: 12px;
    border-image-outset: 10px 6px 6px;
    align-content: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dungeons-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.y {
    width: 80%;
}

.a {
    width: 62%;
}

.y-items td, .a-items td, .equipment td {
    text-align: center;
}

.dungeons-table tr {
    width: 100%;
}

.dungeons-table td {
    width: 10%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    color: white;
    font-style: italic;
}

.prize {
    width: 70%;
}

.chest {
    width: 70%;
}

.medallion {
    width: 70%;
}

.gomode {
    margin-left: 5%;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aga-img {
    margin-left: 5%;
    margin-top: 4%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.equip {
    width: 100%;
}

.heartpiece {
    width: 100%;
}